.simplePlaylistContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;

  .icon {
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }

  .playlistWrap {
    display: flex;
    align-items: center;

    .headsetIcon {
      margin-right: 2%;
    }
  }
}
