.navContainer {
  width: 30%;
  height: 100vh;
  background: white;
  color: black;
  padding-bottom: 0;
  // overflow: hidden;

  h2 {
    font-size: 2rem;
    padding: 1.5%;
  }

  .searchWrap {
    width: 100%;
    height: 42.5%;
    padding: 1.5%;
    border-bottom: solid 1px #292929;
    padding-top: 18px;

    .userWrap {
      margin-top: 15px;
      padding: 0% 3%;
      overflow: auto;
    }
  }

  .playlistWrap {
    width: 100%;
    height: 42.5%;
    padding: 1.5%;
    // height: 450px;
    border: solid 1px blue;
  }

  .profileWrap {
    width: 100%;
    height: 8.5%;
    padding: 2%;
    border-radius: 15px 15px 0px 0px;
    background: #d9d9d9;
  }
}
