.profileContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;

  .profileWrap {
    display: flex;
    align-items: center;
    width: 85%;

    .img {
      border-radius: 50%;
      margin-right: 2%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .iconWrap {
    width: 15%;
    display: flex;
    justify-content: flex-end;
  }
}
